/* External imports must be first */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1");

/* Tailwind v4 entry */
@import "tailwindcss";

/* Theme variables */
:root {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
}
